body {
    background-color:#ffefc1;
    }

.footer .social [class^="icon-"] {
  display: inline-block;
  color: #333;
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
  background: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 40px;
  align-content:center;
}
hr {
    background-color: #012939;
    height: 100px;
    width: 50%;
    margin: auto;
    align-content: center;
}

div [class^="jumbotron text-center"]  {

    background-color:#19af91;

}
